<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views\minigame2\style.css">
    <script defer src="views\minigame2\script.js"></script>
    <title>Connect-Four-Project</title>
</head>
<body>
<main>
    <button id="music-button" >Sound<audio id="myAudio">
        <source src="/Galaxy_music.mp3" type="audio/mp3">
      </audio></button>
    <h1>Spaceships Fleet Controls</h1>
    <div id="playerTurn"></div>
    <div id="winner"></div>
    <div id="board"></div>

    <!------------------------------>
<h2>Scores: </h2>       
<button id="score-giver-red">Give score: </button><div id="redScore">Red Score</div>
<button id="score-giver-yellow">Give score: </button><div id="yellowScore"></div>
<div id="winner"></div>
<button id="resetScore">Reset Scores</button>
<br>
<button id="resetBtn">Reset</button>
</main>
</body>
</html>