<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <title>Express Auth</title>
</head>
<style>
    nav{
        background-color: #27ae60;;
    }
    #container {
        height: fit-content;
        display:flex;
        justify-content: flex-end;
        color:#fff;
           
            padding:0; margin: 0;
            font-size: 1.7rem;
    }

    #userNav li {
        display: inline;
        
    }
</style>
<body>
    <nav> 
        <div style="text-align: left; font-size: xx-large;display: inline-block;">
        <a href="/">Homepage</a> / <a href="shop/products">Products</a> / <a href="shop/about">About</a> / <a href="shop/cart">Shopping Cart</a>
        / <a href="minigames/minigame1">MiniGame1</a> / <a href="minigames/minigame2">MiniGame2</a>
    </div>
        <div id="container">  
        <ul id="userNav">
            <% if(user){ %>
                <li><a href="/users/profile">Profile</a> / </li>
                <li><a href="/users/logout">Logout</a></li>
                <li><%= user.email %></li>
            <% } else { %> 
                <li><a href="/users/new">Sign Up</a> / </li>
                <li><a href="/users/login">Login</a></li>
                
            <% } %>
        </div>
        </ul>
    </nav>
    <%- body %> 
</body>
</html>