<h1>Products</h1>
<div style="border:2px solid red ;">
    <!-- for loop on products -->
    <% products.forEach(element => { %>
     
    <% }) %>
    <div style="display: inline-block; border:2px solid royalblue; ">
    <h4>hello</h4>   
  </div>
  <div style="display: inline-block; border:2px solid royalblue; ">
    <h4>hello</h4>   
  </div>
  <div style="display: inline-block; border:2px solid royalblue; ">
    <h4>hello</h4>   
  </div>
  <div style="display: inline-block; border:2px solid royalblue; ">
    <h4>hello</h4>   
  </div>
  <div style="display: inline-block; border:2px solid royalblue; ">
    <h4>hello</h4>   
  </div>
</div>